[project]
name = "reranking-multimodal-data"
version = "0.1.0"
requires-python = ">=3.11"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "pytest", 
    "black",
]

[tool.black]
line-length = 100
