name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install DEV dependencies explicitly
        run: |
          uv sync --dev
          uv run pytest --version

      - name: Run tests
        run: |
          uv run pytest tests/ -v
